:root {
    --innerWidth: 18.358rem;
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 4rem);
    color: white;
}

.inner {
    flex-basis: var(--innerWidth);
    flex-grow: 0.866;
    height: 19.086rem;
    background-color: blueviolet;
}

@media only screen and (aspect-ratio < 1) {

    .outer {
        height: 23.8%;
    }

    .inner {
        flex-basis: 54.423vh;
        flex-grow: unset;
        background-color: blue!important;
        height: 93.38%;
    }
}

@media only screen and (aspect-ratio < 0.562) {

    .inner {
        flex-basis: 96.8%;
        background-color: green!important;
    }
}
  
@media only screen and (aspect-ratio > 2.057) {
/*do smth*/
    .inner {
        flex-basis: 45.452rem;
        flex-grow: unset;
        background-color: red!important;
    }
}