:root {
    --innerWidth: 91.5%;
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 4rem);
    color: white;
}

.inner {
    background-color: red;
    width: var(--innerWidth);
    height: 19.334rem;
}

@media only screen and (aspect-ratio < 1) {

    .outer {
        height: 23.8%;
    }

    .inner {
        width: 96.8%;
        height: 93.38%;
    }
}
  
@media only screen and (aspect-ratio > 2) {
/*do smth*/
.inner {
    width: 44.203rem;
    height: 19.334rem;
}
}