html{
  font-size: 4.14vh;
}

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  display: flex;
  transition: ease-in-out 0.3s;
}

::-webkit-scrollbar {
  display: none;
}

.App{
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: block;
  position: relative;

  /* background: url("./images/blackRose_background.png"); */
  background-image: linear-gradient(135deg, rgba(252,247,241,1) 0%, rgba(198,180,166,1) 44%, rgba(252,247,241,1) 99%);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

.main{
  width: 100%;
  position: relative;
  top:4rem;
  height: calc(400vh - 16rem);
  display: block;
}

/* .content{
  width: 100%;
  height: calc(100vh - 4rem);
  color: white;
} */

.first{
  top:17vh
}


@media only screen and (aspect-ratio < 1) {
  html{
    font-size: 5vw;
  }

  .main {
    top: 7.5vh;
    height: calc(400vh - 76.2vh);
  }
}

@media only screen and (aspect-ratio > 2) {
  /*do smth*/
}