.outer {
    position: absolute;
    left: 22.098rem;
    max-width: 17.068rem;
    min-width: 11.573rem;
    width: 35%;
    height: 3.427rem;
    background-color: black;
    top: 18.884rem;
}


@media only screen and (aspect-ratio < 1) {
    .outer {
        top: unset;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15.4vh;
        background-color: yellow;
        position: fixed;
        bottom: 0;
    }
    
    .inner {
        width: 54.423vh;
        background-color: green;
        height: 79.32%;
    }
}

@media only screen and (aspect-ratio < 0.562) {
    .inner {
        width: 97.16%;
    }
}